{% extends "project_manager/base.html" %}
{% block title %}
{#    {{ ticket.project }} :: {{ ticket.summary }}#}
{% endblock %}
{% block main %}
    <p class="category">Проект: <a href="{% url "movie" id=person.id %}">{{ person.first_name  }} {{ person.last_name }}</a></p>
{#    <p>{{ ticket.description|linebreaksbr }}</p>#}
{#    <p>{% if not ticket.is_open %}OPEN{% else %}CLOSE{% endif %}</p>#}
{#    <p class="not-in-stock"><a href="{% url "index" id=ticket.project.id %}?page={{ pn }}">Назад</a>#}
{#    </p>#}
{% endblock %}