{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }} xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" href="{% static "main.css" %}" rel="stylesheet">
    <title>VOICEMIND</title>
</head>
<body>
    <div id="header">
        <h1><a href="{% url "index" %}">VOICEMIND</a></h1>
    </div>
    <div id="leftmenu">
        <ul>
            {% for cat in cats %}
                <li><a href="{% url "index" cat.id %}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>Все права принадлежат разработчикам сайта</p><p>Funny Org corporation</p>
    </div>
</body>
</html>
